@import "tailwindcss";

@theme {
    /* colors */
    --color-primary: #13559e;
    --color-secondary: #7ccfed;
    --color-dark-base: #0d1425;
    --color-surface: #eef4fb;
    --color-text: #12192b;

    /* fonts */
    --font-sans: 'Inter', 'sans-serif';
    --font-heading: 'Plus Jakarta Sans', 'sans-serif';
}

@layer components {
    .section-container {
        @apply px-10 py-5 mb-2;
    }
    .h2 {
        @apply font-heading text-lg font-semibold mb-2;
    }
    .subtext {
        @apply text-sm opacity-50 mb-4;
    }
}